<!DOCTYPE html>
<html>
<head>
  <title>Nomster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<table class='col-xs-12'>
		<thead>
			<tr>
				<td class='table_title' colspan="5"> STORE LIST </td>
			</tr>
		</thead>
		<tbody>
			<tr class='first_headers'>
				<th colspan="2">IDENTIFICATION</th>
				<th colspan="2">AMOUNT</th>
				<th>PERFORMANCE</th>
			</tr>
			<tr class='second_headers'>
				<th>DISTRICT</th>
				<th>STORE #</th>
				<th>BALES</th>
				<th>LBS</th>
				<th>PERF SCORE</th>
			</tr>
			<tr class='table_content'>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
			</tr>
			<tr class='table_content'>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
			</tr>
			<tr class='table_content'>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
			</tr>
		</tbody>
	</table>

<%= link_to 'Page 2', second_path %>

</body>
</html>  






